<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <div class="container">
      <h1><span class="sat">SAT</span> Vocabulary words</h1>
      <h2 id="word"></h2>
      <!-- <i id="checkbox"></i> -->
      <p id="definition"></p>
      <hr>
      <button id="show-definition-btn" type="button" name="button">Show definition</button>
      <button id="next" type="button" name="button">Next =></button>
    </div>
    <script type="text/javascript" src="./framework.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
