<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.13/howler.js"></script>
  </head>
  <body>
    <a href="/all">View all words</a>
    <div class="container">
      <h1><span class="sat">SAT</span> Vocabulary words</h1>
      <span id="checkbox"><i>&#10003;</i></span>
      <div id="word"></div>
      <p id="definition"></p>
      <hr>
      <button id="show-definition-btn" type="button" name="button">Show definition</button>
      <button id="next" type="button" name="button">Next =></button>
    </div>
    <script type="text/javascript" src="./framework.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
