body{
  font-family: monospace;
}

.container{
  margin: 0 auto;
  width: 700px;
}

h1{
  text-align: center;
  color: #333;
  font-size: 60px;
}

#word{
  text-align: center;
  padding: 50px 0 30px 0;
  color: #0a0;
  font-size: 50px;
}

p{
  padding: 0;
  margin: 0;
  text-align: center;
  color: #058;
  font-size: 40px;
}

a{
  float: right;
  margin: -20px 50px;
  color: #005;
  font-size: 30px;
}

.sat{
  color: #080;
  font-family: sans-serif;
  font-weight: lighter;
}

#checkbox{
  float: right;
  padding: 5px 15px;
  font-size: 50px;
  font-weight: bold;
  color: #0a0;
  border: 5px solid #333;
  cursor: pointer;
  border-radius: 10px;
}

#checkbox i{
  opacity: 0;
}

button{
  transition: all 250ms;
}

#show-definition-btn{
  display: block;
  margin: 10px auto;
  padding: 30px 40px;
  background-color: #0af;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
}

#show-definition-btn:hover{
  background-color: #08c;
}


#next{
  float: right;
  padding: 10px 15px;
  background-color: #ffb801;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
}

#next:hover{
  background-color: #cc9601;
}

.word-loader{
  display: block;
  margin: 0 auto 39px auto;
  width: 80px;
  border-top: 10px solid #aaa;
  border-bottom: 10px solid #aaa;
  border-left: 10px solid #060;
  border-right: 10px solid #060;
  border-radius: 50%;
  animation: word-loaded 1s linear infinite;
}

@keyframes word-loaded {
  100%{
    transform: rotate(360deg);
  }
}
